.login-card-border-dark {
  border: 1px solid black !important;
  margin-top: 50px !important;
}

.login-divider {
  border: 0.7px solid black !important;
}

.login-container {
  font-family: 'Segoe UI';
}